/* Globais =============== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;

}

html {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pTela{
    width: 100%;
    height: 100%;
    transform: rotate3d(1, 1, 1, 322deg);
}

.base-tela{
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: -9px 6px 50px -1px rgba(0,0,0,0.24); 
    box-shadow: -9px 6px 50px -1px rgba(0,0,0,0.24);
    width: 404px;
    height: 700px;
    border-radius: 40px;
    z-index: -1;
    padding: 50px 30px;
}

.fundo-chat{
    background-color: rgb(241, 241, 241);
    border: 1px solid #ccc;
    height: 100%;
    border-radius: 10px;
    padding: 90px 15px;
    position: relative;
}

.header-chat{
    position: absolute;
    background-color: #d37f00;
    width: 100%;
    height: 69px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-chat h1{
    font-size: 24px;
    color: #fff;
}

.atendimento{
    height: auto;
    position: relative;
    padding: 6px;
    min-width: 180px;
    background-color: #d37f00;
    margin: 22px 0px;
    display: flex;
    color: #fff;
    align-items: center;
    border: 2px solid #fff;
    justify-content: center;
    border-radius: 4px;
    float: left;
}

.atendimento-cliente{
    height: auto;
    position: relative;
    padding: 6px;
    min-width: 180px;
    background-color: #fff;
    margin: 22px 0px;
    display: flex;
    align-items: center;
    color: #d37f00;
    border: 2px solid #d37f00;
    justify-content: center;
    border-radius: 4px;
    float: right;
}

.atendimento p,
.atendimento-cliente p
{
    font-size: 18px;
    margin: 0;
}

.atendente{
    position: absolute;
    top: -25px;
    left: 0px;
    color: #d37f00;
}

.cliente{
    position: absolute;
    top: -25px;
    right: 0px;
}

.atendimento .cliente,
.atendimento .atendente{
    color: #d37f00;
}

.mensagem-chat{
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    height: 70px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    bottom: 0;
    left: 0;
    padding: 20px 30px;
}

input{
    width: 75%;
    background-color: #ffffff;
    color: #d37f00;
    border: none;
    border-bottom: 1px solid #d37f00;
    outline: none;
}

button{
    width: 23%;
    color: #fff;
    background-color: #d37f00;
    border: 1px solid #d37f00;
    border-radius: 7px !important;

}


input:focus-visible{
    border-bottom: 1px solid #d37f00;
    outline: none !important;
}